@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rotate-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate-slow-reverse {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }

@keyframes pulse-soft {
  0%, 100% {
    transform: scale(1.15);
    opacity: 0.8;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
}

.animate-rotate-slow {
  animation: rotate-slow 10s linear infinite;
}

.animate-rotate-slow-reverse {
    animation: rotate-slow-reverse 10s linear infinite;
  }

.animate-pulse-soft {
  animation: pulse-soft 4s ease-in-out infinite;
}
